#color-buttons{
  text-align: center;
}

#color-buttons button{
  margin: 20px;
  height: 35px;
  width: 100px;
  font-weight: bold;
}
#test {
  height: 100px;
  width: 100px;
}
#remove{
  display: block;
  margin: 0 auto;
}

.new-container{
  text-align: center;
  margin: 20px;
}
